
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=YGvIuaTuUDcMNEMou16xNQ==,ZA8q1hQ3A/ciHe9c3Y5nOg==,AmrEPmeKXmnuv+lFvFTZkQ==,LKq8PKPvsliHaED5FCsD2w==
API_TOKEN_SALT=rGekDI3z0HW4N/wkMiYlEA==
ADMIN_JWT_SECRET=7RcJNdLR+ey9hwmdlcDx0g==
TRANSFER_TOKEN_SALT=wAyLIJAmegMX9DsfaI5UEQ==
ENCRYPTION_KEY=qw0DQyw2inUMs/pkn6Lc8Q==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=vault_website
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=hbv9TUXG1WENc2tWns/4Jw==

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
PREVIEW_EMAIL=
EMAIL_FROM=
SMTP_MAIL_QUEUE=
