.home-page {
  display: block;
  min-height: 100vh;
}

.hero-section{
  position: relative;
  z-index: 111;
}

.hero-text{
  font-size: clamp(2.5rem, 6vw, 70px);
  font-family: var(--font-libre-baskerville), serif;
}


.vault-pin {
  position: absolute;
  right: 80px;
  top: 20%;
  transform: translateY(-50%);
  will-change: transform;
  pointer-events: none;
}

/* .vault-pin {
  position: absolute;
  right: 80px;
  top: 20%;
  transform: translateY(-50%);
  transition: transform 0.15s ease-out;
  will-change: transform;
} */

/* .vault-pin {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
} */

/* .vault-pin {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  animation: vault-pin-scale 1.2s infinite ease-in-out;
}

@keyframes vault-pin-scale {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.2);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
} */

@media (max-width: 1024px) {
  .vault-pin {
    display: none !important;
  }
}

.vault-marquee {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background: transparent;
  position: absolute;
  bottom: 0px;
  z-index: 1111;
}

.vault-track {
  display: inline-block;
  white-space: nowrap;
  animation: vaultScroll 33s linear infinite;
}

.vault-track span {
  font-size: clamp(2rem, 6vw, 80px);
  font-family: var(--font-roboto), serif;
  font-weight: 600;
  margin-right: 60px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  opacity: .2;
}

/* @keyframes vaultScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} */

@keyframes vaultScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
