.invest-card {
  border: 1px dashed var(--border2);
  height: 250px;
  transition: background 0.3s, border 0.3s;
}
.invest-card:hover{
  background-color: var(--primary-blue);
}

.what-we-do-content{
  transition: background 0.3s, border 0.3s;
  cursor: pointer;
  color: var(--dark);
}

.what-we-do-content-primary{
  transition: background 0.3s, border 0.3s;
  cursor: pointer;
  color: var(--white);
}
.what-we-do-text {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.what-we-do-text:hover {
  transform: translateX(20px);
}

.what-we-do-border{
  border-top: 1px solid var(--border);
}
.what-we-do-border-white{
    border-bottom: 1px solid var(--border);
}
.what-we-do-dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--primary-blue);
}